body {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

table {
  border-collapse: collapse;
}

td,
th,
tr {
  padding: 3px;
  text-align: center;
}

th {
  font-weight: bold;
  background-color: #E6E6E6;
}

tbody tr td:last-child {
  color: red;
}

#calendar-head {
  margin: 10px 5px 10px 5px;
  width: 150px;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
}

#calendar {
  height: 217px;
}

#calendar-container {
  align-self: end;
}

.note {
  border: 1px solid silver;
  text-align: justify;
  width: 160px;
}