td, th {
  font: 18px Arial;
  width: 150px;
  height: 70px;
  border: 1px solid #000;
  border-radius: 3px;
  text-align: center;
  background: #EAFFFF;
  cursor: pointer;
}
th {
  font: 30px Arial;
}
tbody td {
  text-align: left;
  vertical-align: text-top;
}
span {
  margin: 3px;
}
table {
  margin: auto;
  border: 1px solid #000;
  border-radius: 3px;
  background: #55FF7A;
}
.task {
  padding-left: 18px;
  width: 140px;
  overflow: hidden;
}
.del_task {
  position: absolute;
  width: 16px;
  display: inline-block;
  background: red;
  text-align: center;
}
.task, .del_task {
  border: 1px solid #000;
  border-radius: 8px;
  height:16px;
  line-height: 0.9em;
}
.comment {
  position: fixed;
  left: 100px;
}
