.author {
  text-align: center;
}
.author>* {
  display: block;
  margin: 10px
}
.author>span {
  font: 40px Monotype Corsiva;
  font-weight: 600;
}
.author>img {
  width: 250px;
  margin: auto;
  border-radius: 3px;
}
.author a {
  display: inline-block;
  background-image: url(../other/socnet.png);
  width: 300px;
  height: 70px;
  border-radius: 3px;
}
.gh {
  background-position: 4px -39px;
}
.fb {
  background-position: 6px -339px;
}
.sl {
  background-position: 10px -189px;
}
.author li {
  margin: 10px;
  list-style: none;
}
.author>ul {
  margin: 20px;
  padding: 0;
}

.about {
  font: 30px Monotype Corsiva;
  font-weight: 600;
  margin: 20px;
}
