footer>* {
  background: #ffc;
  margin-left: 1%;
  display: inline-block;
  width: 30.7%;
  height: 140px;
  border: 1px solid #000;
  border-radius: 5px;
  vertical-align: middle;
  padding: 0.5%
}
.favorite {
  text-align: right;
}
.favorite>span {
  float: left
}
.favorite, .history {
  background: #fff;
  margin: 1px;
  padding: 2px;
  cursor: pointer;
  border: 1px solid #000;
  border-radius: 3px;
}
.favorite:hover, .history:hover {
  background: #E4FF37;
}
.close {
  background: #FF8c8c;
  width: 20px;
  border: none;
  border-radius: 100%;
  cursor: pointer;
}
.close:hover {
  background: #f00;
}
