.head {
  margin-left: 1%;
  display: inline-block;
  width: 31.75%;
  height: 40px;
  text-align: center;
  vertical-align: middle;
}
.head>* {
  margin-top: 5px;
  font: 20px Arial;
}
.request {
  padding: 2px;
  display: inline-block;
  width: 80px;
  border: 1px solid #000;
  background: #ffc;
  cursor: pointer;
}
.request>label {
  cursor: pointer;
}
.request:hover {
  background: #fd0;
}
.request.r1 {
  border-right: none;
  border-radius: 3px 0 0 3px;
}
.request.r2 {
  border-radius: 0 3px 3px 0;
}
.http {
  margin-left: 0;
}
li {
  display: inline;
}
.route {
  padding: 2px;
  display: inline-block;
  width: 80px;
  text-decoration: none;
  color: #000;
  border: 1px solid #000;
  background: #ffc;
}
.route:hover {
  background: #fd0;
}
.route.a1 {
  border-right: none;
  border-radius: 3px 0 0 3px;
}
.route.a3 {
  border-left: none;
  border-radius: 0 3px 3px 0;
}
#search {
  background: #fff;
  overflow: hidden;
  display: inline-block;
  height: 25px;
  border: 1px solid #000;
  border-radius: 3px;
}
#search>input {
  height: 80%;
  border: none;
  font-size: 20px;
}
#button {
  display: inline-block;
  width: 80px;
  border-left: 1px solid #000;
  padding: 1px;
  cursor: pointer;
  background: #ffc;
}
#button:hover {
  background: #fd0;
}
#search>input:focus {
  outline: none;
}
