main {
  display: inline-block;
  width: 100%;
  margin-top: 10px;
}
#map {
  float: left;
  border: 1px solid #000;
  border-radius: 3px;
  overflow: hidden;
  height: 400px;
  width: 98%;
  display: inline;
  margin: 1%;
  margin-top: 0;
  overflow: hidden;
}
#star {
  position: absolute;
  display: inline-block;
  width: 50px;
  height: 50px;
  z-index: 1;
  left: 93%;
  top: 11%;
}
#star>img {
  width: 50px;
  height: 50px;
  cursor: pointer;
}
