* {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
}
#create {
	display: none;
}
.active {
	color: cyan;
}
td,th {
	width: 14%;

	border: 1px solid black;
	
}
#calendar td,#calendar th {
	width: 40px;
	height: 30px;
}
#calendar table {
	width: 40%;
	
}
#calendar .divButton {
	width:40%;
	display: flex;
	justify-content: space-between;
}
table {
	width: 100%;
	
}
.no-click {
	position: absolute;
	width: 100%;
	height: 100%;
}
#testCalendarBlock span{
	margin: 0;
}
.divButton {
	width:100%;
	display: flex;
	justify-content: space-between;
}
.activeDay {
	background: #bfbfbf;
	color: white;
}
.infAboutDay {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 30px;
	width: 300px;
}
.configure {
	width: 700px;
	height: 400px;
	padding: 20px;
	margin: 15px;
	border: 1px solid black;
}
.configure span {
	display: block;
	background: white;
	width: 130px;
	padding: 0 10px;
	height: auto;
	margin-top: -30px;
}
.number {
	width: 30px;
	margin-bottom: 3px;
}
.scriptCalendar {
	width: 100%;
	margin-top: 10px;
	display: flex;
	align-items:stretch;
	justify-content: space-around;
}
.scriptCalendarBlock {
	width: 40%;
	height: 220px;
	padding: 10px;
	border: 1px solid black;
	overflow: scroll;
}
#testCalendarBlock {
	width: 40%;
	height: 220px;
	padding: 10px;
	border: 1px solid black;
	position: relative;
}