body {
}
code {
   
    border: 1px solid black;
    
}
label {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
}
.lblNote {
    display: block;
    text-align: center;
    line-height: 150%;
    font-size: .85em;
}
.btnDelete {
background-color:red;
color:white;
border-radius:100px;
}
th {
    font-size: 18px;
    padding: 10px;
}

td {
    padding: 10px;
}
.centered {

    margin-left: 300px; /* Отступ слева */
   
}
.line {
   
    border-left: 1px solid black; /* Параметры линии */
    margin-left: 10px; /* Отступ слева */
    padding-left: 10px; /* Расстояние от линии до текста */
}
.parent {
    position: relative;
    top: 10%;
    height: 100%;
    width: 100%;
   
}
.innerDiv {
    display: flex;
    justify-content: center; 
    align-items: center;
}
table {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.tdDay {
    font-size: 18px;
    padding: 10px;
    height:50px;
    width:50px;
}
.userSettings {
    position: absolute;
    top: 0;
    left:20%;
    width:50%;
   
}
.codeCalendar {
    position: absolute;
    top: 300px;
    left: 0;
width:100px;
}
.demoCalendar {
    position: absolute;
    top:300px;
    right: 0;
    
}

