.css-createPage-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;
    font-family: sans-serif;
}

.css-createPage-container .css-createPage-configForm {
    position: relative;
    width: 200px;
    height: 260px;
    left: calc(50% - 100px);
}

.css-createPage-container .css-createPage-widgets {
    height: calc(100% - 200px);
    overflow: hidden;
}

.css-createPage-container .css-createPage-widgets .css-createPage-generatedScript {
    width: 49%;
    height: 100%;
    float: left;
    overflow: auto;     
}

.css-createPage-container .css-createPage-widgets .css-createPage-demoCalendar {
    width: 50%; 
    height: 100%;    
    float: right;  
}