.css-validation {
    color: red;
    font-size: 12px;
}

.css-button {
    color: white;    
    cursor: pointer;
    border: 1px solid transparent;
}

.css-button.navigation {
    background-color: #007bff;
}

.css-button.navigation:hover {
    background-color: #0028c7;
}

.css-button.primary {
    background-color: #28a745;
}

.css-button.primary:hover {
    background-color: #007a23;
}

.css-button.secondary {
    background-color: #868e96;
}

.css-button.secondary:hover {
    background-color: #696969;
}

.css-button.close:hover:before,
.css-button.close:hover:after {
    background-color: red;
}

.css-button.close:before, 
.css-button.close:after {
    position: absolute;
    content: ' ';
    height: 10px;
    width: 2px;
    background-color: #333;
}
.css-button.close:before {
    transform: rotate(45deg);
}
.css-button.close:after {
    transform: rotate(-45deg);
}

.anotherMonth {
    opacity: 0.3;
}

.css-calendar-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;
    font-family: sans-serif;
}

.css-calendar-container .css-calendar-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.css-calendar-container .css-calendar-body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
}

.css-calendar-container .css-calendar-body .css-calendar-body-weekDays {
    display: flex;
    flex-direction: row;
    height: 20px;
}

.css-calendar-container .css-calendar-body .css-calendar-body-weekDays .css-weekDay {
    width: calc(100% / 7);
}

.css-calendar-container .css-calendar-body .css-calendar-body-month {
    width: 100%;
    height: calc(100% - 20px);
    display: flex;
    flex-direction: column;
}

.css-calendar-container .css-calendar-body .css-calendar-body-month .css-calendar-body-week {
    width: 100%;
    height: calc(100% / 5);
    min-height: 30px;
    display: flex;
    flex-direction: row;
    border-top: 1px solid lightgray;
}

.css-calendar-container .css-calendar-body .css-calendar-body-month .css-calendar-body-week:last-child {
    border-bottom: 1px solid lightgray;
}

/* --> .css-calendar-container .css-calendar-body .css-calendar-body-month */
.css-calendar-body-week .css-calendar-body-day {
    width: calc(100% / 7);
    height: 100%;
    border-left: 1px solid lightgray;
    overflow: auto; /*NOTE: quick fix*/
}

.css-calendar-body-week .css-calendar-body-day:last-child {
    border-right: 1px solid lightgray;
}

/* --> .css-calendar-body-week */
.css-calendar-body-day .css-calendar-body-dayNumber {
    display: inline;
    font-size: 12px;
    border-radius: 50%;
    padding: 2px 5px;
    position: relative;
    top: 3px;
}

.css-calendar-body-day.currentDay .css-calendar-body-dayNumber {
    background-color: rgb(4, 0, 248);
    color: white;
    font-weight: bold;
    left: 3px;
    top: 4px;
}

.css-calendar-body-day.currentDay .css-calendar-body-dayNotes {
    top: 5px;
}

.css-calendar-body-day .css-calendar-body-dayNotes {
    position: relative;    
    font-size: 12px;
}

.css-calendar-body-day .css-calendar-body-dayNotes .css-calendar-body-note {
    display: flex;
    padding: 2px;
    margin: 4px;
    background-color: rgba(255, 132, 0, 0.534);
}

.css-calendar-body-day .css-calendar-body-dayNotes .css-calendar-body-note .css-calendar-body-note-text {
    width: 100%;
    cursor: default;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.css-calendar-body-day .css-calendar-body-dayNotes .css-calendar-body-note .css-calendar-body-note-deleteButton {
    display: none;
    width: 10px;
    height: 10px;
    position: absolute;
    right: 3px;
    margin-top: 2px;
}

.css-calendar-body-day .css-calendar-body-dayNotes .css-calendar-body-note:hover .css-calendar-body-note-deleteButton {
    display: inline;
}

.css-calendar-body-day .css-calendar-body-dayNotes .css-calendar-body-note:hover .css-calendar-body-note-text {
    width: calc(100% - 12px);
}

/* <-- .css-calendar-body-week */
/* <-- .css-calendar-container .css-calendar-body .css-calendar-body-month */
.css-calendar-container .css-calendar-note {
    display: none;
}

.css-calendar-container .css-calendar-note.visible {
    display: block;
}

.css-calendar-container .css-calendar-note-background {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}

.css-calendar-container .css-calendar-note-form {
    position: absolute;
    width: 200px;
    height: 160px;
    left: calc(50% - 120px);
    top: calc(50% - 100px);
    background-color: white;
    padding: 20px;
    z-index: 2;
}

.css-calendar-container .css-calendar-note-form .css-calendar-note-form-text {
    width: 100%;
    max-width: 100%;
    min-width: 100%;    
    height: 100px;
    max-height: 100px;
    min-height: 100px;
    font-size: 12px;
    resize: none;
}

.css-calendar-container .css-calendar-note-form .css-calendar-note-form-buttonsBlock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.css-calendar-container .css-calendar-note-form .css-calendar-note-form-buttonsBlock .css-calendar-note-form-button {
    padding: 3px;
    margin: 5px;
}

.css-calendar-container .css-calendar-note-form .css-calendar-note-form-validation {
    height: 20px;
    display: block;
    padding: 5px;
}


