.view {
    width: 600px;
    height: 400px;
    border: 2px solid black;
}

.textView {
    font-size: 30px;
    font-family: monospace;
    border: 2px solid black;
    display: inline-block;
    margin: 0px;
    white-space: pre-wrap;
}