.view {
    border: 2px solid black;
    display: inline-block;
}
 
.textView {
    font-size: 30px;
    font-family: monospace;
    margin: 0px;
    white-space: pre-wrap;
}
 
.svg-square {
    fill: yellow;
    stroke: black;
}

#speed {
    transform: rotate(180deg);
}