# {
#   "extends": "airbnb",
#   "parser": "babel-eslint",
#   "parserOptions":	{			"ecmaVersion":	6,	},
#   "env": {
#     "browser": true,
#     "node": true,
#     "es6": true,
#     "mocha": true
#   },
#   "rules": {
#     "linebreak-style": ["error", "windows"],
#     # "eslint arrow-parens": [0, "always"]
#     # "valid-jsdoc": ["error", {
#     #   "requireReturn": true,
#     #   "requireReturnType": true,
#     #   "requireParamDescription": true,
#     #   "requireReturnDescription": true,
#     #
#     # }],
#     # "require-jsdoc": ["error", {
#     #     "require": {
#     #         "FunctionDeclaration": true,
#     #         "MethodDefinition": true,
#     #         "ClassDeclaration": true
#     #     }
#     # }]
#   }
# }

{
  "extends": "react-app"
}
