body {
	min-width: 1020px;
	word-wrap: break-word;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size: 14px;
	line-height: 1.5;
	color: #24292e;
	background-color: #fff;
	margin: 0;
	padding: 0;
}

h2 {
	margin: 12px 0;
}

header {
	margin: 0;
	width: 100%;
	height: 50px;
	border-bottom: 1px solid #f4ff88;
}

footer {
	margin: 0;
	width: 100%;
	height: 187px;
}

.wrapper {
	width: 480px;
	height: 640px;
	margin: 10px auto;
	padding: 10px;
	border-radius: 10px;
	background-color: #c6c6c6;
	box-shadow: 0 0 10px rgba(0,0,0,1);
}

.container {
	height: 638px;
	width: 478px;
	border-radius: 5px;
	background-color: #333;
	color: #c6c6c6;
}

.border {
	border: 1px solid #f4ff88;
}

.border-black {
	border: 1px solid #000;
}

.hidden {
	display: none;
}

.inline-block {
	display:inline-block
}

.request {
	width: 200px;
	margin: 12px 20px;
	color: #93ff93;
}

.search {
	width: 190px;
	margin: 12px 20px;
}

#search-field-id {
	width: 100%;
	border-radius: 4px;
	background-color: #e1e7a2;
	box-shadow: none;
	margin: 0;
	padding: 2px;
	border-width: 0;
	border: 1px solid #81e56c;
}

.main {
	width: 100%;
	height: 400px;
}

.output {
	height: 100px;
	position: relative;
}

.output-data {
	width: 100%;
	margin: 0;
	text-align: center;
}

.city-weather {
	width: 33%;
	margin: 20px 0 0 20px;
	font-size: 18px;
	color: #83d1f7;
}

.city-weather p {
	margin:0;
	font-size: 14px;
}

.city-weather .degree {
	font-weight: bold;
	color: #6fd37e;
	font-size: 18px;
}

.city-name {
	width: 282px;
	font-size: 40px;
	color: #c6c6c6;
	height: 50px;
	padding: 0 0 0 10px;
	margin: 20px 0 0 0;
	text-align: left;
	overflow: hidden;
	white-space: nowrap;
}

.city-name p {
	margin: 0;
	padding: 0;
	text-transform: capitalize;
}

.favorites {
	margin: 0;
	position: absolute;
	top: 28px;
	right: 0;
	width:50px;
	height:50px;
	background: url(../img/star.png) no-repeat 0px 0px;
}

.favorites:hover {
	background: url(../img/star.png) no-repeat -50px 0px;
}

.map {
	height: 300px;
	border-top: 1px solid #f4ff88;
	border-bottom: 1px solid #f4ff88;
}

.city-list,
.favorites-list {
	height: 167px;
	width: 217px;
	vertical-align: top;
	padding: 0;
	margin: 20px 0 0 20px;
}

.city-list-header {
	font-size: 16px;
	text-transform: none;
	border-bottom: 1px solid #e1e7a2;
	margin: 0;
	padding: 0;
}

.city-list-item {
	margin: 0;
	padding: 0;
	text-transform: capitalize;
	font-size: 20px;
	line-height: 1.3em;
	position: relative;
	cursor:pointer;
}

.city-list-item:hover {
	color: #e1e7a2;
}

.city-list-item span {
	position:absolute;
	right:0;
	font-size:17px;
	color: #6ed37e;
	font-weight:normal;
}