table {
  width: 1300px;
  margin: 0 auto;
}

thead td {
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
}

thead #prev_month,
thead #next_month {
  font-size: 60px;
  font-weight: 800;
  color: green;
  cursor: pointer;
}

tbody td {
  height: 120px;
  vertical-align: top;
  text-align: right;
  font-size: 20px;
  border: 2px solid rgb(0, 167, 0);
  border-radius: 5px;
  cursor: pointer;
  background: rgb(234, 248, 234);
}

.monthDate:hover {
  background: rgb(189, 245, 189);
}

.myList {
  width: 170px;
  margin-left: -40px;
  cursor: auto;
}

.myList li {
  position: relative;  
  margin-right: -7px;
  margin-bottom: 2px;
  padding-left: 10px;
  text-align: left;
  list-style-type: none;
  background-color: rgb(206, 237, 255);
  border-radius: 4px;
}

.myList span {
  position: absolute;
  right: 0;
  width: 20px;
  margin-left: 20px;
  text-align: center;
  font-weight: bold;
  color: red;
  cursor: pointer;
}

form {
  width: 800px;
  margin-left: 30%;
  font-size: 18px;
}

#code {
  width: 350px;
  float: left;
}

/*---------стилизация превью--------------*/

#preview {
  width: 950px;
  height: 480px;
  float: left;
}

table#previewCalendar {
  width: 700px;
  font-size: 14px;
}

#previewCalendar thead td {
  height: 20px;
}

#previewCalendar tbody td {
  height: 60px;
}

#preview_prev_month,
#preview_next_month {
  font-size: 30px;
}


