.calendarTable {
	border: 1px solid black;
	border-collapse: collapse;
}

.calendarTable tr td{
	border: 1px solid black
}


.calendarTable tr td div{
	width: 100px;
	height: 100px;
}

.calendarTable tr td div .userWrapper .userNote{
    width: 90px;
    height: auto;
    float: left;
	padding: 5px 0;
}

.calendarTable tr td div .userWrapper .closeArea{
    width: 10px;
    height: 10px;
    background: red;
    float: left;
	margin: 5px 0;
}

.monthYearArea{
	float: left;
    padding-left: 10px;
    padding-right: 10px;
}

.buttonDecrease{
    float: left;
}

.buttonIncrease{

}

.calendarTable tr td div .dateArea{
	width: 20px;
	height: 20px;
}

.calendarTable tr td div .userWrapper{
    height: auto;
}

.checkBoxClass{
	float: left;
}

.divWithDescription{
	float: none;
}

.calendar{

}

.optionDivActive{
    height: 120px;
    visibility:visible;
    display: inline;
}
.optionDivInactive{
    height: 120px;
    visibility:hidden;
    display: none;
}

.demoTableActive{
    visibility:visible;
    display: inline;
}
.demoTableInactive{
    visibility:hidden;
    display: none;
}