#calendar-block {
    width: 545px;
    margin: 25px auto;
    text-align: center;
    position: relative;
}
#calendar, #date {
    width: 545px;
    margin: 0 auto;
}
table {
    width: 545px;
    border: 1px solid black;
    border-collapse:collapse;
}
th, td {
    border: 1px solid black;
    padding: 15px;
}
td:hover, button:hover {
    background-color: orangered;
    color: white;
    cursor: pointer;
}
button {
    width: 50px;
    padding: 10px 20px;
    position: absolute;
    top: 0;
    text-align: center;
    border: 1px solid black;
    font-size: 1em;
    font-weight: bold;
    background-color: white;
}
#button1 {
    left: 0;
}
#button2 {
    right: 0;
}
#date {
    padding: 10px 0;
    border: 1px solid black;
    box-sizing: border-box;
    border-bottom: none;
}
#clearStorage {
    position: relative;
    display: block;
    width: 200px;
    margin: 25px 0 25px 345px;
}
#tasks {
    width: 545px;
    padding: 0 3px;
}
#tasks p {
    border-bottom: 2px solid black;
    padding: 1px 5px;
    text-align: left;
}