#leaders>div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#leaders>div>* {
  margin: auto;
  margin-top: 50px;
}
#leaders>div>div {
  margin: 2px auto;
  padding: 2px 10px;
  width: 300px;
  text-align: center;
  background: #f3f3f3;
  font: 15px Arial;
  border: 1px solid #095891;
  border-radius: 5px;
}
.leader:hover {
  cursor: pointer;
  background-color: #2098D1 !important;
}
