body {
  margin: 0;
  padding: 0;
  background: url("./other/background.jpg");
  background-size: 100%;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#field {
  display: flex;
}
#indicate {
  position: absolute;
  display: inline-block;
  width: 30%;
  height: 5px;
  border-radius: 2.5px;
  margin-left: 1%;
}
#describtion {
  margin: 40px 10px 0 10px;
}
#describtion h2 {
  text-align: center;
}
#describtion p, #describtion li {
    font: 25px Arial;
    text-align: justify;
}
.z2 {
  z-index: 2;
}
.hide {
  display: none;
}
