@font-face {
	font-family: "Rubik Mono One";
	src: url("../fonts/RubikMonoOne-Regular.ttf");
}

@font-face {
	font-family: "AlegreyaSC";
	src: url("../fonts/AlegreyaSC-ExtraBold.ttf");
}

@font-face {
	font-family: "Marmelad-Regular";
	src: url("../fonts/Marmelad-Regular.ttf");
}

@font-face {
	font-family: "Kurale-Regular";
	src: url("../fonts/Kurale-Regular.ttf");
}

@font-face {
	font-family: "PT Mono";
	src: url("../fonts/PTM55FT.ttf");
}

@font-face {
	font-family: "KellySlab-Regular";
	src: url("../fonts/KellySlab-Regular.ttf");
}