$bg-green: #a7d66c;
$dark-green: #467015;
$grey: #454648;
$rubic: "Rubik Mono One", monospace;
$alegr: "AlegreyaSC", serif;
$marmelad: "Marmelad-Regular", sans-serif;
$kurale: "Kurale-Regular", serif;
$pt: "PT Mono", monospace;
$kelly: "KellySlab-Regular", cursive;
