#header {
  display: flex;
  justify-content: center;
  width: 96%;
  height: 2em;
  margin: auto;
  margin-top: .5em;
  font: 1.5em Arial sans-serif;
}
.request>input {
  display: none;
  margin: 0 1em;
}
.request>label {
  margin: 0 .2em;
  color: #757575;
  cursor: pointer;
}
#xhr+label {
  padding: 0 .4em;
  border-right: 1px solid #757575;
}
.menu>a {
  margin: 0 .2em;
  text-decoration: none;
  color: #757575;
}
.menu>a:nth-child(2) {
  padding: 0 .4em;
  border-left: 1px solid;
  border-right: 1px solid;
}
#header>div {
  width: 30%;
  box-sizing: border-box;
  width: 34%;
  height: 2em;
}
.radio, .menu, .search {
  padding: .1em;
  text-align: center;
}
.search {
  padding: 0 .1em;
}
.search>form {
  background: #f0f0f0;
  display: flex;
  justify-content: center;
  border: 1px solid #757575;
  border-radius: .15em;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.field, .submit {
  font: 1.5em Arial sans-serif;
  font-size: 1em;
  border: none;
  box-sizing: border-box;
  vertical-align: middle;
  outline: none;
}
.field {
  background: none;
  margin-left: .5em;
  width: 100%;
  min-width: 4em;
}
.submit {
  background: #ccc;
  margin-right: 0;
  padding-top: .3em 0;
  cursor: pointer;
  height: 100%;
  min-width: 4em;
  border-left: 1px solid #757575;
  transition-duration: 0.3s;
}
.submit:active {
  background: #fff;
}
.checked {
  color: #000 !important;
  text-decoration-line: underline !important;
}

@media only screen and (max-width: 700px) {
  #header {
    flex-direction: column;
    align-items: center;
  }
  #header>div {
    width: 96%;
  }
}