.navbar {
    margin: 0
}

.navbar-nav>li>label {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
    position: relative;
    padding: 15px 15px;
}

.navbar-nav>li.myradio {
    padding-left: 20px;
}

nav>.container {
    width: 100%
}

.navbar-header>* {
    background: rgb(29, 122, 180);
    padding: 10px;
    line-height: 30px;
    font-size: 28px;
    display: flex;
    align-items: center;
}

.navbar-default .navbar-brand {
    color: whitesmoke;
}

.navbar-header>a>canvas {
    float: left;
    margin: 0 0 0 10px;
}

.navbar-right {
    margin-right: 0px;
}

.container {
    width: 100%;
    height: 40%;
}

.thumbnail {
    height: 225px;
    overflow-y: auto;
    margin-bottom: 5px;
}

.row.display-flex {
    display: flex;
    flex-wrap: wrap;
}

.favorites__list li:before {
    content: "\2605\0009";
}

.favorites__list ul {
    list-style: none;
}

html,
body,
#map {
    width: 100%;
    height: 70vh;
    padding: 0;
    margin: 0;
}

.cross-align-right {
    float: right;
}

.flashit {
    color: rgb(255, 251, 1);
    -webkit-animation: flash linear 2s infinite;
    animation: flash linear 2s infinite;
}

.about {
    padding: 40px 15px;
    text-align: center;
}

@-webkit-keyframes flash {
    0% {
        opacity: 1;
    }
    50% {
        opacity: .1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes flash {
    0% {
        opacity: 1;
    }
    50% {
        opacity: .1;
    }
    100% {
        opacity: 1;
    }
}