* {
    margin: 0;
    padding: 0;
    font-family:Rubik; 
}
@font-face {
    font-family:Rubik;
    src: url(../fonts/Rubik-Light.ttf);
}
header,main {
    width: 100%;
    display: flex;
    justify-content: center;
}
.header {
    width: 100%;
    max-width: 1366px;
    padding: 0px 10px;
    display: flex;
    justify-content: space-between;
    height: 7vh;
    align-items: center;
}
.request span {
    margin: 0px 3px;
}
.menu a {
    margin: 0px 3px;
    cursor: pointer;
}
.search {
    display: flex;
    align-items: center;
}
.search input {
    width: 300px;
    padding: 0px 3px;
}
.search img{
    width:20px;
    margin-right: 6px;
    cursor: pointer;
}
.main {
    width: 100%;
    max-width: 1366px;
    padding: 0px 10px;  
}
#map {
    width: 100%;
    height: 60vh;  
    margin-bottom: 10px;
    position: relative;
}
.favorite {
    position: absolute;
    z-index: 99;
    top: 45px;
    right: 10px;
    cursor: pointer;
    width: 30px;
}
.widgets-map {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.history, .weather, .favorites {
    width: 30%;
    height: 30vh;
    border: 1px solid black;
    
}
.history h3, .favorites h3, .weather h3 {
 margin: 5px 0px 0px 5px;   
}
.history p, .favorites p, .weather p {
    margin-left: 10px;
}
#about, #author {
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#about, #author, #main {
 display: none;
}