body {
	background-image: url(http://www.freegreatpicture.com/files/147/18380-hd-color-background-wallpaper.jpg);
}
#message {
	text-align: center;
	width: 500px;
	background: #eee;
}
#message>* {
	padding: 3px;
	font: 20px Arial; 
	border-radius: 5px;
	margin: 10px;
	height: 40px;
	width: 400px;
}
#age, #name {
	border: 1px solid #ccc;
	border-radius: 5px;
}
#button {
	background: #28A745;
	border: none;
	color: #fff;
}
#button:hover {
	background: #0A8125;
}

#title {
	font: 30px Arial;
	width: 100%;
	text-align: center;
	margin: 0;
	padding: 0;
}
.stop {
	box-shadow: 0 0 10px #f00;
	background: #FFD3D1;
}
.hid {
	opacity: 0;
}
.result {
	display: inline-block;
	padding: 10px;
	border-radius: 5px;
	font: 30px Arial;
	background: #D9FFC0;
	box-shadow: 0 0 2px #0f0;
	transition-duration: 0.2s;
}