body {
    background-color: #ffffff;
}
table {
    font-size: 20px;
    text-align: center;
    border-collapse: collapse;
    width: 361px;
    height: 321px;
    margin: 3% auto;
}
.button__left {
    float: left;
}
.button__right {
    float: right;

}

.button__right,
.button__left {
    width: 20%;
    height: 100%;
    background-color: #9f4747;
    outline: none;
    border: none;
}
.button__right:hover,
.button__left:hover {
    background-color: #ffa500;
}

.button__right:active,
.button__left:active {
    background-color: #154f8d;
}

td,th {
    box-sizing: border-box;
    height: 54px;
}
table,
td {
    padding: 5px;
    border: 1px solid rgb(70, 72, 76);
}
td {
    background-color: white;
}
th {
    text-transform: uppercase;
    background-color: rgb(70, 72, 76);
    color: #ffffff;

}
.weekend {
    color: #fff;
    background-color: #c38080;
}
.currentMonth {
    background-color: #ead2d2;
}
.anotherMonth {
    color: #787878;
    background-color: #919191;
}

.days_Of_Last_Month {
    background-color: rgba(218, 177, 164, 0.5);
}

.days_Of_This_Month {
    background-color: rgb(217, 155, 171);
}

.days_Next_Month {
    background-color: #ff233d;
}

.days_name{
    background-color: rgba(70, 72, 76, 0.5);
}
#leftButton{
    float: left;
}
#rightButton{
    float: right;
}
