body {
    text-align: center;
}
header{
    font-size: 12px;
}
.main {
    text-align: center;
}
.searchLine {
    margin-left: 80px;
}
.artical {
    margin-top: 50px;
}
.tem{
    font-size: 35px;
}
.list {
    list-style: none;
}
a{
    text-decoration: underline ;
    color: black;

}
a:hover{
color: brown;
}