body, html {
    margin: 0;
    height: 100%;
    font-family: 'Open Sans';
}
.box {
    background-color: #dbdbdb;
    height: 100%;
}
.user__form {
    width: 650px;
    margin: 0 auto;
    padding: 20px;
}
.user__form fieldset {
    border: 1px solid #2294d6;
    background-color: #fff;
    position: relative;
    padding: 15px;
    border-radius: 5px;
    margin: 0;
}
.user__form legend {
    font-size: 22px;
    font-weight: normal;
    text-align: center;
    position: absolute;
    top: 0;
    background-color: #2294d6;
    border-radius: 3px 3px 0 0;
    color: #fff;
    left: 0;
    right: 0;
    padding: 10px 0;
    width: 100%;
}
.user__form label {
    display: block;
    margin: 4px 0;
}
.button__reset,
.button__send {
    width: 200px;
    height: 40px;
    border-radius: 10px;
    background-color: #2294d6;
    color: #fff;
    font-size: 16px;
    display: block;
    border: none;
    margin: 0 auto;
}
.icon {
    margin: 20px 0;
    position: relative;
}
.icon input {
    padding-left: 25px;
    width: 100%;
    padding: 5px 0 5px 25px;
    border: 2px solid #d8f1ff;
    border-radius: 5px;
    box-sizing: border-box;
}
.icon__city select:focus,
.icon .form__comments:focus,
.icon input:focus {
    outline: none;
    border: 2px solid #2294d6;
    border-radius: 5px;
}
.icon .form__comments {
    min-width: 550px;
    min-height: 100px;
    max-width: 570px;
    max-height: 120px;
    padding: 5px 0 5px 25px;
    border: 2px solid #d8f1ff;
    border-radius: 5px;
}
.icon__home:before,
.icon:before {
    height: 14px;
    width: 14px;
    content: "";
    position: absolute;
    top: 32px;
    left: 10px;
    background-image: url(http://fe.it-academy.by/Sites/0022004/sprite.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.icon__city select{
    width: 200px;
    height: 30px;
    padding: 3px 0 5px 25px;
    margin-top:2px;
    border-color: #d8f1ff;
    border-radius: 6px;
}
.icon__sex{
    border: 2px solid #d8f1ff;
    border-radius: 6px;
}
.icon__sex .gender{
    margin: 0;
    padding-left: 40px;
}
.gender input {
    width: 12px;
    height: 12px;
}

.icon__name {
    margin-top: 60px;
}

.icon__name:before {
    background-position: -64px 0;
}
.icon__city:before {
    background-position: -84px 0;
}
.icon__sex:before {
    background-position: -105px 0;
}
.icon__comments:before {
    background-position: -22px 0;
}
.icon__home:before {
    background-image: url(http://fe.it-academy.by/Sites/0022004/sprite_2.png);
    height: 18px;
    width: 18px;
    top: 16px;
    left: 195px;
    background-position: 0 0;
}
.icon label {
    padding-left: 10px;
    font-size: 14px;
}
.icon input,
.icon textarea {
    font-family: 'Open Sans';
}

.icon__button {
    float: left;
}
.buttons {
    width: 200px;
    height: 80px;
    margin: 0 auto;
}
.button__reset{
    background-color: red;
}
.button__send:active,
.button__reset:active {
    outline:none;
    background-color: rgba(34, 148, 214,0.5);
}
.button__send:focus,
.button__reset:focus {
    outline:none;
}
/* стили для формы вывода данных*/

.first__div{
    margin: 20px auto;
    border: 1px solid #2294d6;
    background-color: #f4ffa7;
    padding: 15px;
    border-radius: 5px;
}


