html, body {
	padding: 0;
	margin: 0;
	min-width: 900px;

	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

body {
	text-align: center;
}

#calendar, #createCalendar {
	margin-left: 130px;
}

table {
	margin: 0 auto;
	width: 68.2%;

	border-collapse: collapse;
	border: 2px solid #990901;

	font-size: 1.5em;

	box-shadow: 0 0 5px #750601;
}

td,
th {
	padding: 4px 6px;
	height: 68px;

	border: 1px dotted #bd270f;

	text-align: center;
	color: #640601;
}

th {
	height: 40px;

	font-weight: bold;
	background-color: #e68649;
	color: #4b0501;

	border-bottom: 2px solid #c32810;
}

td {
	margin: 0;
	padding: 0;

	width: 102px;
	max-width: 102px;

	vertical-align: top;
}

td:hover {
	background-color: #fff4b0;
}

td:active {
	background-color: #feb140;
}

.selected {
	background-color: #fec984;

	border-style: solid;
}

.userSelect {
	position: relative;

	margin: 5px 20px 0 0;
	max-width: 80%;

	font-size: 0.4em;
	text-indent: -2px;
}

td.empty:hover {
	background-color: transparent;
}

td.empty:active {
	background-color: transparent;
}

p{
	position: relative;

	margin: 0 0 30px;
	padding-top: 30px;

	font-size: 2.5em;
	font-weight: bold;
	color: #a00404;

	text-shadow: 1px 0 1px #050000;
}

input {
	margin-right: 20px;
	padding: 8px;
	border-radius: 4px;
	box-shadow:0 0 6px #e17066;
	border: 1px solid #ad5b4b;

	background-color: #fffac5;
	-webkit-rtl-ordering: logical;
	user-select: text;
	cursor: auto;
}

input:hover {
	border-color: #a30404;
}

.before, .after {
	position: absolute;

	background-color: #ffc072;
	border: 1px dotted #bd270f;
	padding: 5px 10px;
	border-radius: 4px;
	font-size: 0.8em;
	color: #8b1d0b;

	box-shadow: 0 0 3px #750601;
}

input.before {
	left: 16%;
}

input.after {
	margin-right: 0;
	right: 16%;
}

li {
	list-style: none;
}

.cont {
	position: absolute;
	top: 5px;
	left: 20px;

	display: flex;
}

a {
	z-index: 3;
	width: 119px;
	height: 38px;

	font-size: 1.1em;
	text-decoration: none;
	color: #c10505;
}

a:first-of-type {
	border-right: 1px dashed #bd432f;
}

a:hover {
	color: #4b0501;
}

a:active {
	color: #ffc072;
}

button {
	position: absolute;
	top: 2px;
	right: -15px;

	border: 1px solid #bd432f;
	border-radius: 5px;
	color: #bd432f;
	font-size: 0.5em;
}

form {
	margin: 55px auto 20px;
	padding: 20px;
	width: 80%;

	font-size: 1.2em;
	color: #4c0000;

	box-shadow: 0 0 5px #750601;
}

fieldset {
	border: 1px dashed #e14f38;
}

legend {
	font-size: 1.3em;
	color: #ad2102;
	font-weight: bold;
	text-shadow: 1px 0 0 #3e0401;
}

label {
	margin: 20px;

	display: block;

	text-align: left;
}

select {
	margin-left: 20px;
	padding: 5px;
}

select:nth-of-type(4) {
	margin-top: 30px;
}

.hide {
	display: none;
}

.output {
	width: 40%;
	margin: 10px;

	text-align: left;
	font-size: 0.5em;
}
