@font-face {
	font-family: "Jura";
	src: url("./../fonts/Jura-Bold.ttf");
}

@font-face {
	font-family: "Marck Script";
	src: url("./../fonts/MarckScript-Regular.ttf");
}

@font-face {
	font-family: "Pangolin";
	src: url("./../fonts/Pangolin-Regular.ttf");
}
