$jura: "Jura", Arial, sans-serif;
$marck: "Marck Script", "Comic Sans", cursive;
$pang: "Pangolin", "Comic Sans", cursive;
$dark-green: #1F3320;
$medium-green: #0f5113;
$border-green: #64A668;
$white: white;
$black: #0C140D;
