.weather {
	position: relative;

	margin-top: 10px;

	display: grid;
	grid-template-rows: minmax(30px, auto) 50vh 1fr;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 20px;
}

.weather__header {
	display: grid;
	justify-content: space-around;
	grid-column: 1 / -1;
	align-items: center;

	@media(min-width: 720px) {
		grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
	}
}

.weather__map {
	grid-column: 1 / -1;
}

.weather__footer {
	display: grid;
	grid-gap: 20px;
	grid-column: 1 / -1;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	grid-auto-rows: 150px;
}


