.main {
    text-align: center;
}

body {
    font-family: 'Arial Narrow', sans-serif;
    font-size: 18px;
}

.header {
    margin-bottom: 30px;
}

input[type="text"] {
    margin-top: 10px;
    width: 20%;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    text-align: center;

}

input[type="button"] {
    margin-top: 20px;
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: rgb(66, 184, 221);
    font-size: 125%;
}


.searchLine {
    margin-left: 80px;
}

.result_container {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 100%;
    background-color: #d5e16a;
}


.tem{
    font-size: 50px;
}

.list {
    list-style: none;
}

a:link {
    text-decoration: none;
}