/*Кнопка поиска*/

.header__search {
    float: right;
    margin: 5px;
    min-width: 200px;
    z-index: 9;
}

.header__search .search {
    position: relative;
}
.header__search .search input {
    border: none;
}
.header__search .search .input {
    margin: 0;
    width: 100%;
    padding: 13px 11px 11px 40px;
    -moz-box-sizing: border-box;
    background: #EEE;
    font: 13px Tahoma, Arial, sans-serif;
    color: #555;
    outline: none;
    border: 2px solid black;
}
.header__search .search .input:focus {
    background: #dbe87b;
    color: #333;
    z-index: 10;
}
.header__search .search .input:hover {
    box-shadow: inset 0 0 5px rgba(21, 79, 141, 0.6), inset 0 1px 2px rgba(21, 79, 141, 0.8);
    background: #dbe87b;
    color: #333;
    z-index: 5;
}
.header__search .search .submit {
    position: absolute;
    top: 0;
    left: 0;
    width: 37px;
    height: 100%;
    cursor: pointer;
    background: url(../img/go.png) 50% no-repeat;
    opacity: 0.2;
}
.header__search .search .submit:hover {
    opacity: 0.5;
}
.header__search .search .submit:focus {
    outline: none;
    opacity: 1;
}
input[type="search"] {
    -webkit-appearance: none;
}