* {
    margin: 0;
    padding: 0;
}

h1, h2 {
    font-size: 30px;
}
h3 {
    font-size: 25px;
}

ol, ul, li, a, p {
    font-size: 20px;
}


a {
    text-decoration: none;
}
html, body {
    height: 100%;
}
header ul{
    list-style-type: none;
    margin: 0;
}
header li{
    float: left;
}

.menu_link {
    background-color: black;
}

.menu_link a {
    color: white;
    display: block;
    padding: 10px 20px;
}

.box{
    max-width: 700px;
    margin: 0 auto;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.ccc{
    clear: both;
}

.yandex_map{
    position: relative;
    height: 300px;
}

.page{
    display: none;
    margin: 20px;
}

.page h1 {
    text-align: center;
    padding: 10px 0;
}
.page li {
    padding: 10px 0;
}
.page span {
    background-color: #bfbfbf;
    color: black;
}
.page h3{
    text-align: center;
}
.page ol{
    padding-left: 30px;
}

.page_show{
     display: block;
 }



.history,
.weather_and_information,
.favorites{
    border: 2px solid black;
    width: calc((100% - 30px)/3);
    box-sizing: border-box;
    float: left;
    margin: 10px 5px;
}
footer h3,
footer p {
    text-align: center;
    padding: 5px;
}

.favorites_city div{
    position: relative;
}
.favorites_city button{
    position: absolute;
    margin: 5px;
    top: 0;
    right: 0;
    padding: 0 4px;
}
footer h3 {
    background-color: black;
    color: white;
}

menu li{
    margin: 5px 5px;
}
.menu_link{
    margin: 5px;
}
.history_city p:hover,
.favorites_city p:hover,
.author a:hover,
.menu_link:hover {
    background-color: black;
    opacity: 0.5;
    color: white;
    cursor: pointer;
}
.favorites_city button:hover{
    background-color: black;
    color: white;
}

#add_to_favorites{
    margin: 5px;
    padding: 10px;
}
.yandex_map{
    border: 2px solid black;
}
.main{
    position: relative;
}
.add_in_favorites_button{
    z-index: 1;
    position: absolute;
    top: 5px;
    left: 5px;
}
.author img {
    margin: 0 auto;
    width: 250px;
    display: block;
}
.author a {
    padding: 5px;
    display: block;
    width: 80px;
    margin: 10px auto;
    text-align: center;
    background-color: black;
    color: white;
}

.author p {
    text-align: center;
}