body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #404040;
}

.game-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 550px;
  height: 550px;
  border-radius: 10px;
  background-color: #cbd9ef;
}

.text-h1 {
  font-family: Lato;
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 10%;
}

.description-block {
  display: flex;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 10px;
}

.image-description {
	height: 38px;
}

.text-description {
	font-family: Lato;
  font-weight: 300;
  font-size: 13px;
  margin: 0;
  padding-left: 10px;
}

.text-normal {
	font-family: Lato;
	font-weight: 600;
	font-size: 16px;
	text-transform: uppercase;
	line-height: 1.7;
	text-align: center;
}

.results-overlay {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.results-overlay-after {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.player-name-input {
	outline: none;
  border: none;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.34);
  height: 38px;
  width: 300px;
  text-indent: 15px;
  margin-top: 20px;
  font-family: Lato;
  font-weight: 300;
  font-size: 16px;
}

.player-name-input::-webkit-input-placeholder {
	font-family: Lato;
	font-weight: 300;
	font-size: 16px;
}

.buttons-block {
  padding-top: 25px;
  display: flex;
  margin-bottom: 5%;
}

.link-style {
  display: block;
  background-color: #404040;
  padding: 10px;
  text-decoration: none;
  font-family: Lato;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 10px;
  margin: 0 10px;
}

.link-style:hover,
.link-style:active,
.link-style:visited {
	text-decoration: none;
	color: #ffffff;
}

