body {
    background-color: #ffffff;
}

.calendar__head,
.calendar {
/*    width: 361px;*/
    margin: 0 auto;
}
.calendar h2 {
    font-size: 25px;
    text-align: center;
    box-sizing: content-box;
    margin: 0;
    padding: 30px;
}

.container {
    width: 420px;
    margin: 0 auto;
    position: relative;
}
.calendar div {
    background-color: #46484c;
    color: white;
}
.calendar hr{
    margin: 0 3%;
    padding: 0;
}
table {
    font-size: 20px;
    text-align: center;
    border-collapse: collapse;
    margin: 0 auto;
}
td,th {
    box-sizing: border-box;
    height: 60px;
    width: 60px;
}
table,
td {
    padding: 5px;
    border: 1px solid rgb(70, 72, 76);
}
td {
    background-color: white;
}
th {
    font-size: 20px;
    background-color: rgb(70, 72, 76);
    color: #ffffff;

}
.weekend {
    color: #fff;
    background-color: #c38080;
}
.currentMonth {
    background-color: #ead2d2;
}
.anotherMonth {
    color: #787878;
    background-color: #919191;
}

.days_Of_Last_Month {
    background-color: rgba(218, 177, 164, 0.5);
}

.days_Of_This_Month:hover {
    background-color: rgba(218, 177, 164, 1);
}

.days_Of_This_Month {
    background-color: rgb(217, 155, 171);
}

.days_Next_Month {
    background-color: #ff233d;
}

.days_name{
    background-color: rgba(70, 72, 76, 0.5);
}
#leftButton{
    float: left;
}
#rightButton{
    float: right;
}
.prev__button,
.next__button{
    margin: 10px;
    border: none;
    background-color: #46484C;
    color: white;
    height: 68px;
    width: 68px;
}
.prev__button:hover,
.next__button:hover{
    background-color: white;
    color: #000;
    opacity: 0.5;
}
.prev__button{
    float: left;
}
.next__button{
    float: right;

}

/* бдок информации*/
.rowinformation{
    width: auto;
    margin: 10px 0;
}
.rowinformation p {
    text-align: center;
    padding: 10px;
    margin: 0;
    font-size: 25px;

}
.box_description {
    position: relative;
}
.delete_description{
    position: absolute;
    top: 0;
    right: 0;
    padding: 3px;
    color: white;
    margin: 2px;
}
.delete_description:hover,
.next__button:hover,
.prev__button:hover,
.days_Of_This_Month:hover {
    cursor: pointer
}
.new_description{
    margin: 10px 0;
    border: 1px solid #46484C;
}
.new_description h2 {
    background-color: #46484C;
    color: white;
    text-align: center;
}

.new_description p {
    background-color: #ECD8D1;
}
.box_description {
    background-color: #46484C;
}