td{
    width:20px;
    heigth:10px;
}

.whiteCell{
    background: white;
}

.lineBlock {
    border: 0; margin: 0.3em 0.15em; padding: 0;

    display: -moz-inline-stack; /* ← Firefox 2 backwards compatibility */
    display: inline-block;
    vertical-align: top;

    /* ↓ IE6 & IE7 «hasLayout» voodoo */
    zoom: 1;
    *display: inline;
    /* ↑ IE6 & IE7 starhack ← http://www.ejeliot.com/blog/63 */
}

.displayNone{
    display: none;
}

.blackCell{
    background: black;
    color: white;
}

.controlPanelButton{
    width: 100px;
    float: left;
    margin: 5px;
    background: #B0C4DE;
    text-align: center;
    padding: 7px;
}

.navLink{
    float: left;
    padding: 20px;
    padding-left: 0px;
}

.floatNone{
    float: none;
}

.floatLeft{
    float: left;
}

pre{
    padding: 0px;
    margin: 0px;
}


.sizeX{
    float:left;
    padding: 20px 30px;
}

.sizeY {
    padding: 20px 30px;
}

.playButton{
    width: 100px;
    float: left;
    margin: 5px;
    background: #B0C4DE;
    text-align: center;
    padding: 7px;
}

.speedControl{
    padding-left: 70px;
    padding-top: 20px;
}