nav {
    position: relative;
    text-align: center;
}

ul#navigation {
    margin: 10px;
}

nav > .navig > li  {
    position: relative;
    margin: 0.2rem 0.7143rem;
    display: inline-block;
    padding: 0.45rem;
}

nav > .navig > li:after {
    display: block;
    position: absolute;
    content: "";
    top: 38%;
    right: -0.9286rem;
    width: 0.07143rem;
    height: 1rem;
    background-color: #185dcc;
}

nav > .navig > li:last-child:after {
    display: none;
}

nav > .navig > li > a {
    position: relative;
    text-decoration: underline;
    display: inline-block;
    text-align: center;
    color: #185dcc;
    padding: 0.714rem;
    top: 50%;
    font-size: 1rem;
    cursor: pointer;
}

nav > .navig > li > a:hover {
    text-decoration: none;
}

#searchMethod {
    position: absolute;
    float: left;
    top: 37px;
    margin-left: 200px;
}

.searchBox {
    position: absolute;
    top: 32px;
    right: 150px;
}

input#search {
    width: 250px;
    height: 30px;
    border-radius: 20px;
    padding-left: 30px;
    outline: none;
}

input#submitSearch {
    position: absolute;
    cursor: pointer;
    display: block;
    background-image: url(../img/search.png);
    background-size: 100%;
    background-color: transparent;
    border: none;
    top: 5px;
    left: 7px;
    content: " ";
    text-align: center;
    width: 20px;
    height: 20px;
    z-index: 999;
    outline: none;
}

#yandexMap {
    position: relative;
    content: " ";
    width: 90%;
    height: 550px;
    display: inline-block;
    text-align: center;
    margin-left: 5%;
}

#footer {
    position: relative;
    width: 90%;
    height: 230px;
    border: 1px solid black;
    margin: 10px auto 0 auto;
    display: flex;
    justify-content: center;
}

#footer > div {
    width: 33.333%;
    border: 1px solid black;
}

.deleteFavorite {
    position: relative;
    display: inline-block;
    cursor: pointer;
    right: -10px;
    background-color: #d58d7042;
    color: #d91a1a;
}

.history, .favorites {
    cursor: pointer;
}

p {
    position: relative;
    width: 50%;
    margin: 10px auto;
}

div#authorDiv {
    position: relative;
    text-align: center;
}

img {
    width: 150px;
    border-radius: 20%;
}

#index {
    display: none;
}