body {
	font-family: Nunito, sans-serif;
}

.widget__wrapper {
	width: 400px;
	border: 2px solid #376b9e;
}

@media (max-width: 650px) {
	.widget__wrapper {
		max-width: 100%;
		margin: 0 auto;
	}
}

.widget__main {
	display: flex;
    flex-direction: column;
    justify-content: space-between;
	height: 400px;
	width: 100%;
	background-image: url('city-background.png');
	background-size: contain;
	background-repeat: no-repeat;
}

.widget__top {
	height: 130px;
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}

.widget__setup {
	padding-top: 20px;
    padding-right: 20px;
    text-transform: uppercase;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: #96b7d9;
}

.setup__radio {
	border: 0;
    cursor: pointer;
    background-color: #96b7d9;
    -webkit-appearance: none;
    height: 12px;
    width: 12px;
    border-radius: 6px;
    outline: none;
    margin-left: 7px;
}

label {
	display: flex;
    justify-content: flex-end;
    padding-top: 10px;
}

input[type="radio" i] {
	margin: 0;
	margin-left: 7px;
}

input[type=radio]:checked {
	position: relative;
	background-color: #96b7d9;
}

input[type=radio]:checked::after {
	position:absolute;
	content: '';
	top: 2px;
	left: 2px;
	width: 8px;
	height: 8px;
	border-radius: 4px;
	background-color: #376b9e;
}

.widget__current-day {
    padding-left: 20px;
    padding-top: 20px;
}

.current__wrapper {
	display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

.current__temp {
	font-size: 56px;
	color: #ffffff;
}

.current__city {
	font-size: 14px;
    font-weight: bold;
}

.widget__history {
	display: flex;
	justify-content: space-between;
	height: 130px;
	width: 100%;
}

.widget__alerts {
	font-size: 26px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    margin-left: 20px;
}

.widget__cities-list {
	padding-right: 25px;
	margin: 0;
}

.widget__city-item {
	list-style-type: none;
	text-align: right;
}

.widget__city-link-style,
.widget__city-link-style:hover,
.widget__city-link-style:active,
.widget__city-link-style:visited {
	color: #ffffff;
	font-size: 14px;
	text-decoration: none;
}

.widget__search {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	padding-bottom: 20px;
	width: 90%;
	margin: 0 auto;
}

.widget__search-field {
	border: none;
    height: 30px;
    border-radius: 15px;
    width: 85%;
    background-color: rgba(225, 225, 225, 0.3);
    outline: none;
    color: #ffffff;
    text-indent: 12px;
    font-family: Nunito;
}

.widget__search-field::-webkit-input-placeholder {
	text-indent: 12px;
	color: #ffffff;
	font-family: Nunito;
}

.widget__submit-button {
	border: none;
    height: 30px;
    border-radius: 30px;
    width: 30px;
    font-family: Nunito;
    font-weight: bold;
    padding: 0;
    outline: none;
    color: #414142;
    background-color: #ffffff;
}

.extended__icon {
	height: 50px;
	width: 50px;
}

.extended__clear-day {
	background: url(spr35.png) 317px 86px;
}

.extended__clear-night {
	background: url(spr35.png) 242px 86px;
}

.extended__cloudy-day {
	background: url(spr35.png) 164px 85px;
}

.extended__partly-cloudy-day {
	background: url(spr35.png) 163px 155px;
}

.extended__cloudy-night {
	background: url(spr35.png) 240px 155px;
}

.extended__partly-cloudy-night {
	background: url(spr35.png) 87px 87px;
}

.extended__cloudy {
	background: url(spr35.png) 240px 155px;
}

.extended__rain {
	background: url(spr35.png) 317px 230px;
}

.extended__sleet {
	background: url(spr35.png) 164px 230px;
}

.extended__snow {
	background: url(spr35.png) 240px 230px;
}

.extended__wind {
	background: url(spr35.png) 88px 157px;
}

.extended__fog {
	background: url(spr35.png) 164px 155px;
}

// TOP ICONS
.current__icon {
	height: 30px;
	width: 30px;
}

.current__clear-day {
	background: url(spr20.png) 372px 49px;
	height: 30px;
	width: 30px;
	margin-left: 2px;
}

.current__clear-night {
	background: url(spr20.png) 330px 49px;
	height: 30px;
	width: 30px;
	margin-left: 2px;

}

.current__cloudy-day {
	background: url(spr20.png) 288px 48px;
	height: 30px;
	width: 30px;
	margin-left: 2px;
}

.current__partly-cloudy-day {
	background: url(spr20.png) 288px 48px;
	height: 30px;
	width: 30px;
	margin-left: 2px;
}

.current__cloudy-night {
	background: url(spr20.png) 246px 49px;
	height: 30px;
	width: 30px;
	margin-left: 2px;
}

.current__partly-cloudy-night {
	background: url(spr20.png) 246px 49px;
	height: 30px;
	width: 30px;
	margin-left: 2px;
}

.current__cloudy {
	background: url(spr20.png) 330px 87px;
	height: 30px;
	width: 30px;
	margin-left: 2px;
}

.current__rain {
	background: url(spr20.png) 372px 128px;
	height: 30px;
	width: 30px;
	margin-left: 2px;
}

.current__sleet {
	background: url(spr20.png)  288px 128px;
	height: 30px;
	width: 30px;
	margin-left: 2px;
}

.current__snow {
	background: url(spr20.png) 330px 128px;
	height: 30px;
	width: 30px;
	margin-left: 2px;
}

.current__wind {
	background: url(spr20.png) 246px 89px;
	height: 30px;
	width: 30px;
	margin-left: 2px;
}

.current__fog {
	background: url(spr20.png) 287px 87px;
	height: 30px;
	width: 30px;
	margin-left: 2px;
}

.widget__extended {
	display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    height: 90px;
    background-color: #ffffff;
}

.extended__report {
	display: flex;
    flex-flow: column;
    align-items: center;
}

.extended__top-wrapper {
	display: flex;
    flex-direction: column;
    align-items: center;
}

.extended__day {
	font-weight: bold;
	color: #414142;
}

.extended__temps-wrapper {
	display: flex;
    flex-flow: row nowrap;
    font-size: 18px;
    font-weight: bold;
    color: #414142;
}

.widget__footer {
	height: 60px;
	width: 100%;
	border-top: 1px solid black;
}

