<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    div {
      display: inline-block;
      margin: 10px;
      padding: 0 10px;
      border: 1px solid #000;
      border-radius: 10px;
    }
  </style>
</head>
<body>
  <div class="div1"></div>
  <div class="div2"></div>
  <script type="text/javascript" src="script.js"></script>
</body>
</html>
