body {
	background-color: rgba(2, 2, 48, 0.96);
}

form {
	color:white;
	position: absolute;
	left: 50%;
	top: 20%;
	margin-left: -100px;
	font-size: 25px;
	
}
#age {
	display: none;
}

.button {
	width:130px;
	height:30px;
	display:inline-block;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	color:#fff;
	cursor:pointer;
	border: none;
	background: #109bce;
	border-radius: 5px;
	
}

#username, #userage {
	height:28px;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	border: none;
	text-align:center;
}