body {
    min-width: 1020px;
    word-wrap: break-word;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    line-height: 1.5;
    color: #24292e;
    background-color: #fff;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: Lato;
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
}

h2 {
    color: #c13f5c;
}

.wrapper {
    width: 800px;
    height: 600px;
    margin: 10px auto;
    padding: 10px;
    border-radius: 10px;
    background-color: #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.container {
    position: relative;
    width: 798px;
    height: 598px;
    border-radius: 5px;
    color: #c6c6c6;
    background-color: #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.border {
    border: 1px solid #88f5ff;
}

.border-black {
    border: 1px solid #000;
}

.hidden {
    display: none;
}

.inline-block {
    display: inline-block
}

.main {
    position: absolute;
    top: 0;
}

.description {
    width: 100%;
    margin: 0 auto;
    text-align: justify;
    background: url(../img/scroll.png) 50% 50% no-repeat;
    height: 560px;
    background-size: 750px
}

.description img {
    height: 100px;
    float: left;
    padding: 5px 10px 5px 0;
}

.description p {
    font-family: Lato;
    font-weight: 300;
    font-size: 14px;
    margin: 0;
    padding: 40px 190px;
    color: #333333;
}

.play-button,
.play-again-button,
.replay-button {
    text-align: center;
    padding: 0;
    margin: 0;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
}

.play-button {
    bottom: 95px;
    color: #ac1d1d;
    position: absolute;
}

.replay-button {
    bottom: 75px;
    color: #308427;
}

.play-again-button {
    bottom: 95px;
    color: #33467e;
}

.warning-player-name {
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: 58px;
    font-size: 10px;
    color: #f01e1e;
}

.player-name {
    outline: 0;
    border: none;
    background-color: #333;
    width: 200px;
    position: absolute;
    bottom: 35px;
    color: #9b9b9b;
    text-align: center;
    font-size: 18px;
}

.player-name::-webkit-input-placeholder {
    font-weight: 300;
    font-size: 16px;
}

.text-normal {
	font-weight: 600;
	font-size: 16px;
	text-transform: uppercase;
	line-height: 1.7;
	text-align: center;
}

.game-over {
    font-size: 40px;
    text-transform: uppercase;
    color: #cca1d3;
}

.results-container {
    text-align: center;
    position: absolute;
    top: 0;
    background: url(../img/scroll.png) 50% 50% no-repeat;
    width: 800px;
    height: 600px;
}

.results {
    margin: 120px 0 20px 0;
    color: #333;
    font-weight: bold;
}

.results p {
    margin: 0;
}