body {
  background-image: url(pics/bgrimg.jpg);
}
.head {
  margin-left: 1%;
  display: inline-block;
  width: 31.75%;
  height: 40px;
  text-align: center;
  vertical-align: middle;
}
.head>* {
  margin-top: 5px;
  font: 20px Arial;
}
.request {
  padding: 2px;
  display: inline-block;
  width: 80px;
  border: 1px solid #000;
  background: #ffc;
  cursor: pointer;
}
.request>label {
  cursor: pointer;
}
.request:hover {
  background: #fd0;
}
.request.r1 {
  border-right: none;
  border-radius: 3px 0 0 3px;
}
.request.r2 {
  border-radius: 0 3px 3px 0;
}
.http {
  margin-left: 0;
}
li {
  display: inline;
}
.route {
  padding: 2px;
  display: inline-block;
  width: 80px;
  text-decoration: none;
  color: #000;
  border: 1px solid #000;
  background: #ffc;
}
.route:hover {
  background: #fd0;
}
.route.a1 {
  border-right: none;
  border-radius: 3px 0 0 3px;
}
.route.a3 {
  border-left: none;
  border-radius: 0 3px 3px 0;
}
#search {
  background: #fff;
  overflow: hidden;
  display: inline-block;
  height: 25px;
  border: 1px solid #000;
  border-radius: 3px;
}
#search>input {
  height: 80%;
  border: none;
  font-size: 20px;
}
#button {
  display: inline-block;
  width: 80px;
  border-left: 1px solid #000;
  padding: 1px;
  cursor: pointer;
  background: #ffc;
}
#button:hover {
  background: #fd0;
}
#search>input:focus {
  outline: none;
}
main {
  display: inline-block;
  width: 100%;
  margin-top: 10px;
}
#map {
  float: left;
  border: 1px solid #000;
  border-radius: 3px;
  overflow: hidden;
  height: 400px;
  width: 98%;
  display: inline;
  margin: 1%;
  margin-top: 0;
  overflow: hidden;
}
#star {
  position: absolute;
  display: inline-block;
  width: 50px;
  height: 50px;
  z-index: 1;
  left: 93%;
  top: 11%;
}
#star>img {
  width: 50px;
  height: 50px;
  cursor: pointer;
}
footer>* {
  background: #ffc;
  margin-left: 1%;
  display: inline-block;
  width: 30.7%;
  height: 140px;
  border: 1px solid #000;
  border-radius: 5px;
  vertical-align: middle;
  padding: 0.5%
}
.hide {
  display: none;
}
.close {
  background: #FF8c8c;
  width: 20px;
  border: none;
  border-radius: 100%;
  cursor: pointer;
}
.close:hover {
  background: #f00;
}
.favorite {
  text-align: right;
}
.favorite>span {
  float: left
}
.favorite, .history {
  background: #fff;
  margin: 1px;
  padding: 2px;
  cursor: pointer;
  border: 1px solid #000;
  border-radius: 3px;
}
.favorite:hover, .history:hover {
  background: #E4FF37;
}
.author {
  text-align: center;
}
.author>* {
  display: block;
  margin: 10px
}
.author>span {
  font: 40px Monotype Corsiva;
  font-weight: 600;
}
.author>img {
  width: 250px;
  margin: auto;
  border-radius: 3px;
}
.author a {
  display: inline-block;
  background-image: url(pics/socnet.png);
  width: 300px;
  height: 70px;
  border-radius: 3px;
}
.gh {
  background-position: 4px -39px;
}
.fb {
  background-position: 6px -339px;
}
.sl {
  background-position: 10px -189px;
}
.author li {
  margin: 10px;
  list-style: none;
}
.author>ul {
  margin: 20px;
  padding: 0;
}

.about {
  font: 30px Monotype Corsiva;
  font-weight: 600;
  margin: 20px;
}
