body {
	min-width: 1020px;
	word-wrap: break-word;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size: 14px;
	line-height: 1.5;
	color: #24292e;
	background-color: #fff;
	margin: 0;
	padding: 0;
}

h2 {
	margin: 12px 0;
}

.wrapper {
	width: 1200px;
	height: 600px;
	margin: 10px auto;
	padding: 10px;
}

.border {
	border: 1px solid black;
}

.one-third {
	display: inline-block;
	vertical-align: top;
	width: 33.1%;
	height: 100%;
}

.two-third {
	display: inline-block;
	vertical-align: top;
	width: 66.1%;
	height: 100%;
}

.calendar {
	width: 795px;
	height: 400px;
}

.options {
	width: 100%;
	height: 200px;
}

.code {
	width: 100%;
	height: 100%;
}

/*----------------------------------------------------------------------*/

.calendar-style {
	width: 100%;
	font: monospace;
	line-height: 1.2em;
	font-size: 20px;
	text-align: center;
}

.calendar-style thead tr:last-child {
	font-size: 18px;
	color: rgb(85, 85, 85);
}

.calendar-style thead tr:nth-child(1) td:nth-child(2) {
	color: rgb(50, 50, 50);
}

.calendar-style thead tr:nth-child(1) td:nth-child(1):hover,
.calendar-style thead tr:nth-child(1) td:nth-child(3):hover {
	cursor: pointer;
}

.calendar-style tbody td {
	color: rgb(44, 86, 122);
	border: 1px solid rgb(44, 86, 122);
	height: 50px;
	width: 112px;
	margin: 0;
	padding: 0;
}

.calendar-style tbody td:nth-child(n+6),
.calendar-style .holiday {
	color: rgb(231, 140, 92);
}

.calendar-style tbody td div.today {
	background: rgb(220, 0, 0);
	color: #fff;
	width: 100%;
}

.eventText {
	text-align: left;
	font-size: 9px;
	line-height: 1em;
	color: rgb(44, 86, 122);
	font-weight: normal;
	width: 103px;
	padding: 0 2px;
	overflow: hidden;
	white-space: nowrap;
	position: relative;
}

.eventText:hover {
	font-size: 9px;
	font-weight: bold;
}

.del {
	color: red;
	margin: 0 2px 0 0;
	font-size: 12px;
	cursor: pointer;
	font-weight: normal;
	position: absolute;
	right: 0;
}

.del:hover {
	color:red;
	font-weight: bold;
	font-size: 13px;
}

.div-wrapper {
	color: rgb(44, 86, 122);
	height: 50px;
	width: 109px;
	overflow: hidden;
}

.settings-span {
	padding: 0 10px;
	width: 40%;
	display: inline-block;
	vertical-align: top;
}

.settings-div {
	padding: 0 10px;
	width: 40%;
	vertical-align: top;
}

.create-button {
	display: inline-block;
	width: 50%;
	text-align: center;
}

.clear-button  {
	margin: 15px 0 0 10px;
	display: inline-block;
	width: 40%;
}

.arrow {
	font-size: 30px;
	font-weight: bold;
}

.hidden {
	display: none;
}

.widget-header {
	text-align: center;
}

.widget-code {
	margin: 0 5px;
	width: 380px;
	height: 533px;
	border: 1px solid rgb(44, 86, 122);
}

.calendar-title {
	width: 795px;
	text-align: center;
	margin: 30px 0 0 0;
	padding: 0;
}