// switcher
@import './switcher.scss';

// clouds
@import './clouds.scss';


.star {
  span {
    display: block;
    height: 80px;
    width: 80px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    cursor: pointer;

    background-image: url('/img/blue-star.png');

    &.active {
      background-image: url('/img/yellow-star.png');
    }
  }
}

.star-active {
  background: orange;
}

.container {
  margin-top: -350px;
}

h1, h2, h3 {
  text-align: center;
  margin: 30px 0;
}

header {
  margin: 50px 0;

  .switcher {
    text-align: center;
    font-weight: bold;

    label {
      margin: 10px auto;
      display: block;
    }
  }

  .menu {
    ul {
      margin-top: 10px;

      li {
        display: inline-block;
        padding: 0;
        margin-left: -4px;
        border-bottom-left-radius: 7px;
        border-bottom-right-radius: 7px;
        min-height: 30px;
        min-width: 100px;


        a {
          color: #fff;
          padding: 8px 15px;
          display: block;
          text-align: center;

        }

        &:first-child {
          background-color: #670bdd;
        }
        &:last-child {
          background-color: #32a4ed;
        }

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}

section.main {
  margin: 30px 0;

  h2 {
    margin-top: 0;
  }

  .content {
    text-align: center;
    padding: 30px;
    background: #fff;
    box-shadow: 1px 1px 2px #ccc;
    border-radius: 1px;
    min-height: 300px;
  }

  .active {
    display: block;
  }

  .forecast-block {

    canvas {
      display: block;
      margin: 0 auto;
    }

    .forecast-info {
      span {
        margin: 10px 0;
        padding-left: 100px;
        display: block;
      }
    }
  }

  .error-block {

    p {
      color: red;
    }
  }
}

section.history {
  margin: 30px 0;

  ul {
    margin: 0 auto;
    width: 50%;

    li {
      padding: 0;
      a {
        padding: 10px 15px;
        color: inherit;
        text-decoration: none;
        display: block;
      }

      &:hover {
        cursor: pointer;
        background: #f6225f;
        color: #fff;
      }
    }
  }
}

footer {
  margin: 30px 0;
  text-align: center;
}
