header {
  text-align: center;
}
ul {
  margin: 10px 0;
}
li {
  display: inline-block;
  width: 120px;
  height: 40px;
  background: #4EC0E0;
  text-align: center;
  border: 1px solid #3BADCD;
  border-right: none;
  cursor: pointer;
  overflow: hidden;
  box-shadow: 1px 1px 10px rgba(24,138,170, .8);
}
li:hover, .press {
  background: #188AAA;
}
a {
  display: inline-block;
  width: 120px;
  height: 40px;
}
a:active {
  color: #3BADCD;
}
li:first-child {
  border-radius: 20px 0 0 20px;
}
li:last-child {
  border-right: 1px solid #3BADCD;
  border-radius: 0 20px 20px 0;
}
.route {
  text-decoration-line: none;
  color: #fff;
  line-height: 40px;
}
