* {
  font-size: 25px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: -moz-linear-gradient(45deg, #f5f7fa 0%, #e3e5ed 100%);
  background: -webkit-linear-gradient(45deg, #f5f7fa 0%, #e3e5ed 100%);
  background: -o-linear-gradient(45deg, #f5f7fa 0%, #e3e5ed 100%);
  background: linear-gradient(45deg, #f5f7fa 0%, #e3e5ed 100%);
}
main {
  margin: 0 10px 10px 10px;
  flex: 1;
  overflow: auto;
  max-height: 500px;
  background: rgba(78, 192, 224, .1);
  border-radius: 3px;
  text-align: center;
  box-shadow: 0 0 5px rgba(0,0,0, .5);
}
#text {
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 35px;
  font-weight: bold;
  line-height: 23px;
  font-family: monospace;
  display: inline-block;
  cursor: pointer;
}
#canvas, #svg {
  border: 1px solid #ccc;
  border-radius: 3px;
  cursor: pointer;
}
p {
  margin:10px 40px;
}
.about {
  text-indent: 1.5em;
  text-align: justify;
}
