select {
    width: 340px;
}

#form {
    margin: 50px auto;
    width: 500px;
}

fieldset {
    border: none;
}

input[type=submit] {
    width: 340px;
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 3px;
    background: rgb(64,199,129);
    box-shadow: 0 -3px rgb(53,167,110) inset;
    transition: 0.2s;
}
input[type=submit]:hover { 
    background: rgb(53, 167, 110); 
}
input[type=submit]:active {
  background: rgb(33,147,90);
  box-shadow: 0 3px rgb(33,147,90) inset;
}

input[type=text] {
    width: 200px;
}
