* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-family:Rubik; 
}
@font-face {
	font-family:Rubik;
	src: url(../fonts/Rubik-Light.ttf);
}
header {
	max-width: 1366px;
	padding: 0px 10px;
	margin: 0px auto;
}
.menu {
	width: 100%;
	display: flex;
	justify-content: center;
}
#text, #canvas, #svg, #about, #controlProject {
	display: none;
}
#canvas {
	position: relative;
}
#about {
	flex-direction: column;
	align-items: center;

}
#about p {
	margin-top: 20px;
	font-size: 50px;
}
a {
	display: flex;
	align-items: center;
	justify-content: center;
	width: auto;
	height: 25px;
	padding: 0px 20px;
	margin: 10px 5px;
	color: black;
	border: 1px solid black;
	transition: 0.5s;
}
a:hover {
	opacity: 0.5;
}
.button-pause {
	display: none;
}
pre {
	border: 1px solid black;
	display: inline-block;
	padding: 3px;
}
.button-controls {
	width: 50%;
	display: flex;
	justify-content: flex-start;
}
#control {
	width: 100%;
	display: flex;  
	justify-content: space-between;
}
#controlProject {
	margin-top: 15px;
}
.button-controls div {
	width: 32px;
	height: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid black;
	margin: 0px 5px;
	border-radius: 100px;
	transition: 0.5s;
}
.button-controls div:hover {
	opacity: 0.5;
}
#control img{
	width: 20px;
}
.size-game {
	position: relative;
}
.size-game span {
	margin-right: 5px;  
}
.size-game input {
	width: 33px;
	height: 17px;
	padding-left: 2px;
}
.size-game input::-webkit-inner-spin-button { 
	opacity: 1;
}
main {
	max-width: 1366px;
	padding: 0px 10px;
	margin: 0px auto;
}
.textGame, .canvasGame, .svgGame {
	border: 1px solid black;
	width: 100%;
	height: 50vh;
	border-radius: 4px;
}
.spead {
	width: 100%;
	display: flex;
	justify-content: center;
}
.spead input {
	max-width: 600px;
	width: 100%;
}
rect {
	fill: white;
	stroke:black;
	stroke-width:1;
}